version: '3.8'

services:
  web:
    build: .
    command: uvicorn server.app:FestivalUserAPI
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/festival
    volumes:
      - .:/app
    networks:
      - default
    depends_on:
      - db

  db:
    image: postgres:13.4
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=festival